html,
body {
	height: 100%;
	color: #fff;
}
body{
	display: flex;
	flex-direction: column;
}



.main {
	flex-grow: 1;
}


.container{
  max-width: 1585px;
  margin: 0 auto;
  padding: 0 15px;
}
.double__container{
	max-width: 1870px;
	padding: 0 15px;
	margin: 0 auto;
}





