// .header {
//     background: url('../images/home/home-bg.jpg') no-repeat center bottom ;
// }
.stiky_header{
    height: 106px;
    width: 100%;
    position: fixed;
    background: #006D56;
    z-index: 100;
    padding: 0 135px;
}

.header__top {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon {
    width: 50px;
    height: 30px;
    background-color: transparent;
}
.nav-icon__middle {
    width: 50px;
    height: 7px;
    background-color: #fff;
    position: relative;
}
.nav-icon__middle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 7px;
    background-color: #fff;
    top: 12px;
    left: 0;
}
.nav-icon__middle::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 7px;
    background-color: #fff;
    bottom: 12px;
    left: 0;
}
.header__top-phone,
.header__top-email {
    display: block;
    font-family: 'BebasNeue Regular';
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #FCFCFC;
}

.header__center-title {
    margin-bottom: 35px;
    max-width: 787px;
    font-family: 'BebasNeue Bold';
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;

}
.header__center-subtitle {
    margin-bottom: 50px;
    font-family: 'PFCentroSansPro-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.header__center-btn {
    margin-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 72px;
    font-family: 'PFCentroSansPro-Bold';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-align: center;
    background: #FAA40C;
    width: 300px;  
}

.header__info {
    display: flex;
    justify-content: space-between;
}
.header__info-applications {
   padding: 25px 90px 26px 50px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    background: #FCFCFC;
}
.header__info-text,
.header__info-link {
    font-family: 'PFCentroSansPro-Medium';
    font-weight: 500;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.header__info-text {
    color: #000;

}
.header__info-link{
    color: #006D56;
    text-decoration: underline;
}
.header__info-year span{
    color: #000;
}
.header__info-year {
    margin-left: 15px;
}

.header__bottom {
    height: 147px;
    background: #006D56;
}
.header__bottom-block{
    padding-top: 22px;
    padding-bottom: 22px;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom-item {
    width: 250px;
}
.header__bottom-text {
    font-size: 60px;
    font-weight: bold;
}
.header__bottom-numbers {
    font-size: 18px;
}
.slick-prev-header,
.slick-next-header{
    position: absolute;
    z-index: 10;
   top: 50%;
}
.slick-prev-header{
    right: 0;
}
.slick-next-header{
   left: 0;
}




// CAMP
.camp-slider__box {
    display: flex !important;
    justify-content: space-between;
}

.camp-slider__content-title {
    padding-top: 150px;
    margin-bottom: 23px;
    font-family: 'BebasNeue Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #000;
}
.camp-slider__content-text {
    max-width: 370px;
    margin-bottom: 250px;
    font-family: 'PFCentroSansPro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000;
}
.camp-slider__img {
    margin-left: 170px;
   
}
.camp-slider__img img{
   height: 100%;
   max-width: 900px;
}

.camp-slider__curent{
    margin-top: -90px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.camp-slider__arrows{
    display: flex;
}
.camp-slider__arrows-curent {
    font-family: 'PFCentroSansPro-Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    line-height: 26px;
}


// ПРОГРЕСС БАР
.camp-slider__inner .slick-dots{
    padding:0;
    position: relative;
    bottom: 35px;
  }
  .camp-slider__inner .slick-dots li{
    position:relative;
    display:inline-block;
    width:65px;
    height:5px;
    margin:0 2px 0 0;
    padding:0;
    cursor:pointer;
    background-color:#ccbdb6;
    background-size:100% 100%;
    background-image:-webkit-gradient(linear, left, right, color-stop(1, #000), color-stop(1, transparent));
    background-image:-o-linear-gradient(left, #000 100%, transparent);
    background-image:-moz-linear-gradient(left, #000 100%, transparent);
    background-image:-webkit-linear-gradient(left, #000 100%, transparent);
    background-image:linear-gradient(to right,#000 100%,transparent 100%);
    background-repeat:no-repeat;
  }
  
  .camp-slider__inner .slick-dots li:last-child{
    margin-right:0;
  }
  
  .camp-slider__inner .slick-dots li:hover,.slider .slick-dots li.slick-active{
    background-color:#a08a7f;
  }
  
  .camp-slider__inner .slick-dots li button{
    display: none !important;
  }
  
  .camp-slider__inner .slick-dots li.slick-active~li{
    background-size:0% 0%;
  }
  .camp-slider__inner .slick-dots li.slick-active{
    -webkit-animation:right 3s ease-in-out forwards;
    -moz-animation:right 3s ease-in-out forwards;
    -o-animation:right 3s ease-in-out forwards;
    animation:right 3s ease-in-out forwards;
  }
  
  @keyframes right{
    0%{
      background-size:0% 100%;
    }
  
    100%{
      background-size:100% 100%;
    }
  }
  // ПРОГРЕСС БАР




// TRAINERS
.trainers {
    padding-bottom: 90px;
}
.trainers__content {
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #000;
}
.trainers__title,
.school__title,
.reviews__title {
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #000;
}
.trainers__arrows {
    display: flex;
}
.trainers__arrows-left,
.trainers__arrows-rigth {
    display: inline-block;
}

.trainers-slider {
    margin-bottom: 90px;
}

.trainers-slider__item {
    max-width: 270px;
    width: 100%;
}
.trainers-slider__img img{
    height: 360px;
    margin-bottom: 20px;
}
.trainers-slider__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 246px;
}
.trainers-slider__content-title {
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}






// peculiarities
.peculiarities {
    margin-top: 90px;
    padding-bottom: 165px;
    background-color: #006D56;
}

.peculiaritie__title {
    padding-top: 117px;
    margin-bottom: 50px;
    font-family: 'BebasNeue Bold';
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}
.peculiaritie__block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.peculiaritie__block-item {
    margin-bottom: 45px;
    max-width: 530px;
}
.peculiaritie__block-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.peculiaritie__block-text {
    margin-left: 20px;
    font-family: 'PFCentroSansPro-Regular';
    font-size: 25px;
    line-height: 30px;
}




// ACCARDION
.programm__block{
    height: 100px;
    background-color: #006D56;
}
.programm__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.programm__img{
    height: 100%;
}
.programm__img img{
    height: 100%;
    object-fit: cover;
}
.programm__content {
    max-width: 615px;
    margin-left: 25px;
}
.programm__content-title {
    padding-top: 92px;
    margin-bottom: 40px;
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 60px;
    color: #000;
    line-height: 60px;
}

.accardion__btn {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    max-width: 615px;
    width: 100%;
    background-color: transparent;
    border-bottom: 7px solid black;
   margin-bottom: 20px;
   position: relative;
}
.accardion__btn::after{
    content: '';
    position: absolute;
    background-image: url('../images/home/icon/plus.svg');
    width: 20px;
    height: 20px;
    right: 0;
}
.accardion__title {
    margin-bottom: 10px;
    font-family: 'BebasNeue Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    line-height: 20px;
}
.accardion__content {
    font-family: 'PFCentroSansPro-Medium';
    font-weight: 500;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
}
.accardion__content{
    display: none;
}
.accardion__content.active{
    display: block;
}




// ROUTINE

.routine__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routine__info-content {
    padding-top: 70px;
    padding-left: 20px;
    width: 615px;
}
.routine__info-title {
    margin-bottom: 50px;
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #000;
}

.routine__info-item-line {
    margin-bottom: 10px;
    height: 7px;
    background: #006D56;
   
}
.routine__info-item-title {
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #006D56;
}
.routine__info-item-text {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'PFCentroSansPro-Regular';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}



// SCHOOLL


.school__content {
    padding-top: 40px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #000;
}

.school__arrows {
    display: flex;
}

.school-bottom {
    padding: 60px 180px;
    background-color: #006D56;
}
.school-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school-bottom__box-title {
    font-family: 'BebasNeue Bold';
    max-width: 370px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}
.school-bottom__box-item {
   max-width: 210px;
}
.school-bottom__box-num {
    margin-bottom: 10px;
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
}
.school-bottom__box-text {
    font-family: 'PFCentroSansPro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}




// REVIEWS

.reviews__content {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #000;
}

.reviews__arrows {
    display: flex;
    align-items: center;
}
.reviews__arrows-curent{
    font-family: 'PFCentroSansPro-Black';
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.reviews-slider {
}
.reviews-slider__inner {
}
.reviews-slider__box {
    margin-bottom: 90px;
    max-width: 880px;
}
.reviews-slider__box-title {
    margin-bottom: 15px;
    font-family: 'PFCentroSansPro-Medium';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    line-height: 20px;
}
.reviews-slider__box-text {
    font-family: 'PFCentroSansPro-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.reviews-bottom {
    padding: 30px 180px;
    background-color: #006D56;
}
.reviews-bottom__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews-bottom__content-title {
    font-family: 'BebasNeue Bold';
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}
.reviews-bottom__content-button {
    padding: 18px 94px;
    font-family: 'PFCentroSansPro-Bold';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FAA40C;
}
.reviews-bottom__content-button a{
    color: #000;
}
.map{
    padding: 90px 100px;
    margin-top: 120px;
    background-color: #006D56;
}
.card-map{
    height: 500px;
}
