.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 16;
    display: none;
}
.modal-form {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 670px;
    transform: translate(-50%, -50%);
    background-color: #006D56;  
}
.form {
    padding: 50px;
    max-width: 670px;
}
.form__title {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 45px;
    font-family: 'BebasNeue Bold';
    font-weight: 700;
}
.form__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 35px;
    font-family: 'BebasNeue Regular';
    font-weight: 400;
}
.form__input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.form__desc {
    font-size: 30px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'BebasNeue Bold';
    font-weight: 700;
}

.form__btn,
.btn-close {
    margin: 15px 0;
}
.btn-close{
  padding: 10px 20px;
}

.modal.show{
    display: flex;
    z-index: 99;
  }

  @media(max-width:750px){
      .form{
          padding: 20px 20px;
      }
      .modal-form{
          width: 100%;
      }
      .form__desc,
      .form__subtitle{
        margin-top: 0;
       
      }
      .form__subtitle{
        margin-bottom: 0;
      }
  }

  @media(max-width:550px){
    .form__title{
        font-size: 30px;
    }
    .form__subtitle,
    .form__input{
        font-size: 14px;
    }
    .form__desc{
        font-size: 20px;
    }
    .form__btn,
    .btn-close{
    font-size: 14px;
    padding: 10px 20px;
}
  }